{% extends 'layout.html' %}

{% block content %}
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h2>User Dashboard</h2>
    </div>
  </section>

  <section id="dashboard" class="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Dashboard</h1>
          <p>Welcome, {{ current_user.username }}!</p> 

          <h2>Update Profile</h2>
          <center>
          <form method="POST" action="{{ url_for('main_bp.dashboard') }}">
            {{ form.hidden_tag() }}
              <div>
                  <label for="username">Update Username</label><br>
                  <input type="text" id="username" name="username" placeholder="{{ user.username }}" required>
              </div>
              <br>
              <div>
                  <label for="email">Update Email</label><br>
                  <input type="email" id="email" name="email" placeholder="{{ user.email }}" required>
              </div><br>
              <button type="submit" class="btn btn-primary" name="update_profile">Update Profile</button>
          </form>
          </center>
          <br>
          <h2>Upload a new image</h2>
          <form method="POST" enctype="multipart/form-data">
              <div class="form-group" style="width: 25%; height: 50px;" >
                  <input type="file" name="my_image" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Upload</button>
          </form>

          <h2>Your Uploaded Images</h2>
          {% if pictures %}
              <ul>
              {% for picture in pictures %}
                  <li>
                      <img src="{{ url_for('static', filename='uploads/' ~ picture.filename) }}" alt="Uploaded Image" width="200">
                      <p>Uploaded on: {{ picture.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                  </li>
              {% endfor %}
              </ul>
          {% else %}
              <p>You have not uploaded any images yet.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section> 
{% endblock %}