{% extends 'layout.html' %}

{% block content %}
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">      
      <h2>Skin Cancer Prediction</h2>       
    </div>
  </section>
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title" data-aos="zoom-in">
        <h3>Skin Cancer <span>Prediction in Deep Learning</span></h3>
        <h2>Graph</h2>       
      </div>
      <center>
        <h3 class="title-a">         
        </h3>
      </center>
      <body>         
        <div class="col-lg-8 mx-auto">                  
          <div><span style="margin-left:100px;color:red"><font size="12">Model Accuracy</font></div>
          </br>
          </br>                
          <center>	    
            <div><img style="margin-left:-70px;width:800px;height:500px;" src="../static/result.png"</div>
          </center>                                                 
        </div>
        <br>
        <br>
        <br>
        <div class="col-lg-8 mx-auto">
          <div><span style="margin-left:100px;color:red"><font size="12">Model Loss</font></div>
          </br>
          </br>                
          <center>	    
            <div><img style="margin-left:-70px;width:800px;height:500px;" src="../static/results.png"</div>
          </center>                                                 
        </div>
      </body>        
    </div>
  </section> 
{% endblock %}