{% extends 'layout.html' %}

{% block content %}
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h2>Skin Disease Prediction
      </h2>
    </div>
  </section>

  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title" data-aos="zoom-in">
        <h3>Skin Disease <span>Prediction in Deep Learning</span></h3>
        <h2>Preview</h2>
      </div>
      <head>
        <script>
   function previewImage() {
       var file = document.getElementById("imagefile").files;
       if (file.length > 0) {
           var fileReader = new FileReader();

           fileReader.onload = function (event) {
               document.getElementById("preview").setAttribute("src", event.target.result);
           };

           fileReader.readAsDataURL(file[0]);
       }
   }
</script>
</head>
<center>
<body>
 <div class="section-header">
   <h2></h2>
  
 </div>
 <nav class="root navbar navbar-default navbar-fixed-top">
   <div class="container-fluid row">
     <div class="navbar-header col-md-1 col-sm-1">
          
     </div>
     
     
   </div>
 </nav>


 <div class="limiter">
   <div class="container-login100" style="background-image: url(../static/images/background1.jpg); background-size: fill;">
     <div class="wrap-login100">
       <div class="login100-form-title" style=" background-image: url(../static/images/background2.jpg);">
    
   
         <span class="login100-form-title-1">
           Upload Image:
         </span>
     
       </div>
   </br>
   </br>
       <form class="login100-form validate-form" action="/submit" method="POST" enctype="multipart/form-data">
         <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
     <br>
           <input class="input100" type="file" name="my_image" id="imagefile" class="btn" accept="image/*" onchange="previewImage();"  required>

         </div>
   
   <img id="preview">
         <div class="container-login100-form-btn">
     </br>
     </br>
           <button style="background-color: black;" class="btn btn-primary" type="submit 3"> Submit </button>
         </div>
       </form>
     </div>
   </div>

       </div>
 </div> 

  
</body>
    </div>
  </section>
{% endblock %}