{% extends 'layout.html' %}

{% block content %}
<section id="hero">
    <div class="hero-container" data-aos="fade-up">      
      <h2>Skin Disease Prediction</h2>       
    </div>
  </section>

    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="section-title" data-aos="zoom-in">
          <h3>Skin Disease <span>Prediction in Deep Learning</span></h3>
          <h2>Login</h2>         
        </div>
        
        <head>
	
          <script>
         addEventListener("load", function () {
             setTimeout(hideURLbar, 0);
         }, false);
 
         function hideURLbar() {
             window.scrollTo(0, 1);
         }
 
         function login(){
         var uname = document.getElementById("uname").value;
         var pwd = document.getElementById("pwd").value;
 
     if(uname == "admin" && pwd == "admin")
     {
       alert("Login Success!");
       
       window.location = "{{url_for('main_bp.index')}}";
       return false;
     }
     else
     {
     alert("Invalid Credentials!")
     }
         }
         
           
 
 
  
     </script>
     
 </head>
  
  <body id="page-top">
 
    
       
 
   <!-- Portfolio Section -->
   <section class="page-section portfolio" id="portfolio">
  
       
       <!-- Portfolio Section Heading -->
        
       <!-- Icon Divider -->
       <!-- Portfolio Grid Items -->
       <div class="row">
        <div class="section-header">
          <h2></h2>
         
        </div>
        
         <div class="col-md-6 col-lg-4" style="margin-left:390px">
          <center>
          <div class="container">
            <form method="POST" class="form-signin" style="color:white">
                {{ form.hidden_tag() }}
                
                <h1 class="h3 mb-3 font-weight-normal">
                    Please Login
                </h1>
                <br>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}
        
                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password") }}
        
                <br>
        
        
                <div class="checkbox mb-3">
                   <h6 style="color: black;">Do not have an account?</h6>
                   <a class="btn btn-sm btn-secondary" href="{{ url_for('main_bp.register') }}">Register</a>
                </div>
        
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
            </form>
         </div>
                 <br>
                 <br>
                 
                 
                
                 <div class="control-group">
                   <!-- Button -->
                  
                 </div></center>
                  </div>
   </div>
   </div>
  
  
   </section> 
 
     </body>	 		
      </div>
    </section>
{% endblock %}