{% extends 'layout.html' %}

{% block content %}
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h2>Skin Disease Prediction</h2>
    </div>
  </section><!-- End Hero -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title" data-aos="zoom-in">
        <h3>Skin Disease <span>Prediction in Deep Learning</span></h3>
        <h2>Sign Up</h2>
      </div>
      <center>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          
          <form method="POST" class="form-register" style="color: white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal", style="color: darkolivegreen;">Please Create your Account</h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}
            <br>
            <div class="checkbox mb-3">
              <h6 style="color: black;">Already have an account?</h6>
              <a class="btn btn-sm btn-secondary" href="{{ url_for('main_bp.login') }}">Login</a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
          </form>
        </div>
      </div>
    </center>
    </div>
  </section>
{% endblock %}